<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- 실행시 index.jsp로 처음실행 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list> 
	
	<!-- Encoding UTF-8 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	<!-- Listener -->
	<listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
   
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/config/*-servlet.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
     
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:config/spring/context-*.xml</param-value>
  	</context-param>
  	
  	<!-- 세션 시간 1시간 설정 -->
  	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

  	<!-- 24.02.20 캐시 크기 설정 (7-4) -->
	<context-param>
	    <param-name>cacheSize</param-name>
	    <param-value>5000</param-value> <!-- 원하는 캐시 크기로 설정 -->
	</context-param>
 	<!-- 24.02.20 header에 no-cache 설정 (7-4) -->
	<filter>
	    <filter-name>NoCacheFilter</filter-name>
	    <filter-class>stu.common.common.NoCacheFilter</filter-class> 
	</filter>
	<filter-mapping>
	    <filter-name>NoCacheFilter</filter-name>
	    <url-pattern>/*</url-pattern> <!-- 필터를 어떤 URL 패턴에 적용할지 설정 -->
	</filter-mapping>
	
	<security-constraint>
	  <display-name>Forbidden</display-name>
	  <web-resource-collection>
	    <web-resource-name>Protected Context</web-resource-name>
	    <url-pattern>/*</url-pattern>
	    <http-method>PUT</http-method>
	    <http-method>DELETE</http-method>
	    <http-method>TRACE</http-method>
	    <http-method>CONNECT</http-method>
	  </web-resource-collection>
	  <auth-constraint></auth-constraint>
	</security-constraint>

	<!-- 에러 페이지 설정 -->
	<error-page>
		<error-code>400</error-code>
		<location>/error/error.html</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/error/error.html</location>
	</error-page>
	<error-page>
		<error-code>402</error-code>
		<location>/error/error.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error/error.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error/error.html</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/error/error.html</location>
	</error-page>
	<error-page>
		<error-code>501</error-code>
		<location>/error/error.html</location>
	</error-page>
	<error-page>
		<error-code>502</error-code>
		<location>/error/error.html</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/error/error.html</location>
	</error-page>
	<error-page>
		<error-code>504</error-code>
		<location>/error/error.html</location>
	</error-page>
	<error-page>
		<error-code>505</error-code>
		<location>/error/error.html</location>
	</error-page>
	

	<!-- 스프링 시큐리티 필터 체인 등록 -->
	<filter>
	    <filter-name>springSecurityFilterChain</filter-name>
	    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<filter-mapping>
	    <filter-name>springSecurityFilterChain</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>


</web-app>

